In [ ]:
a=input("Enter a string : ")
print(a)
b=int(input("Enter a integer : "))
print(b)

Enter a string : wow
wow
Enter a integer : 897
897

In [ ]:
#type of function
x=999
print(type(x))
y=999.09
print(type(y))
z=True
print(type(z))
xx=1+4j
print(type(xx))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [ ]:
lol1=" hello lol"
lol2='how are u'
print(lol1[0:6])
print(lol2[3])
print(lol1*4)
print(lol1+" "+lol2)

 hello

 hello lol hello lol hello lol hello lol
 hello lol how are u

In [ ]:
list_1=["Sandhiya","Saniya",21,4324.243,"gowtham"]
list_1.append("yokesh")
print(list_1)

['Sandhiya', 'Saniya', 21, 4324.243, 'gowtham', 'yokesh']

In [ ]:
lol=("Ohayo","Gosaimasu","hai")
print(type(lol))
print(lol[0:1])
print(lol[0:2])

<class 'tuple'>
('Ohayo',)
('Ohayo', 'Gosaimasu')

In [ ]:
list_1=[1,2,3,4,5]
list_2=["Vicky","Yokesh","Naren","gowtham","Juu"]
data=list(zip(list_1,list_2))
print(data)

[(1, 'Vicky'), (2, 'Yokesh'), (3, 'Naren'), (4, 'gowtham'), (5, 'Juu')]

In [ ]:
dic={1:'Danni',2:"Johnny",3:"Bunny",4:"Lolly"}
print(dic)
print(dic[1])
print(dic[3])
print(dic.keys())
print(dic.values())
dic

{1: 'Danni', 2: 'Johnny', 3: 'Bunny', 4: 'Lolly'}
Danni
Bunny
dict_keys([1, 2, 3, 4])
dict_values(['Danni', 'Johnny', 'Bunny', 'Lolly'])

{1: 'Danni', 2: 'Johnny', 3: 'Bunny', 4: 'Lolly'}

In [ ]:
set_1=set()
set_2={'johnny',2,3,'Pyhton','Jamee',2,3}
print(set2)